{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h1 class="mb-4 text-center">Experience</h1>

  {% for exp in experiences %}
  <div class="card mb-4 {% if loop.index0 % 2 == 0 %}bg-light{% else %}bg-white{% endif %}">

    <div class="card-body">
      <h4 class="card-title text-primary">{{ exp.role }}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{ exp.organization }}</h6>
      <p class="card-text"><strong>Duration:</strong> {{ exp.duration }}</p>
      <p class="card-text"><strong>Technologies:</strong> <span class="badge bg-secondary me-1" style="font-weight:normal;"
      {% for tech in exp.technologies %}>{{ tech }}</span> {% endfor %}</p>

      {% if exp.confidential %}
        <p class="text-warning"><em>Project details are confidential.</em></p>
      {% else %}
        <ul class="list-group list-group-flush mt-3">
          {% for task in exp.responsibilities %}
            <li class="list-group-item">{{ task }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
